<div class="card round">
  <div class="card-content content">
    <h1>{{ login ? 'Login' : 'Sign Up' }}</h1>
    <div class="field" *ngIf="!login">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="name" />
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="email" />
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input" type="password" [(ngModel)]="password" />
      </div>
    </div>
    <div class="field has-addons">
      <div class="control">
        <button class="button is-info" (click)="confirm()">
          {{ login ? 'login' : 'create account' }}
        </button>
        <button class="button is-warning" (click)="login = !login">
          {{
            login ? 'need to create an account?' : 'already have an account?'
          }}
        </button>
      </div>
    </div>
  </div>
</div>

<app-user-list></app-user-list>
