<h4 *ngIf="loading">Loading...</h4>
<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h1 class="is-size-1 has-text-white">
        {{ (isNewPage | async) ? 'All Links' : 'Top Links' }}
      </h1>
    </div>
    <div class="level-item">
      <h3 class="is-size-3 has-text-white">{{ count }} links</h3>
    </div>
  </div>
  <div class="level-right" *ngIf="(isNewPage | async) && hasNextPage">
    <div class="level-item">
      <button class="button is-primary" (click)="fetchMore()">
        Fetch More
      </button>
    </div>
  </div>
</div>
<div class="row columns is-multiline has-text-centered">
  <app-link-item
    class="column is-one-third"
    *ngFor="let link of (orderedLinks | async); let index = index"
    [link]="link"
    [index]="index"
    [isAuthenticated]="logged"
    [updateStoreAfterVote]="updateStoreAfterVote"
  >
  </app-link-item>
</div>
